<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" onclick="loadContent('@Url.Action("Index", "Urun")')">Ürünler</a>
    <a href="#" class="list-group-item list-group-item-action" onclick="loadContent('@Url.Action("Index", "Kategori")')">Kategoriler</a>
    <a href="#" class="list-group-item list-group-item-action" onclick="loadContent('@Url.Action("Index", "Marka")')">Markalar</a>
    <a href="#" class="list-group-item list-group-item-action" onclick="loadContent('@Url.Action("Index", "Admin")')">Adminler</a>
</div>
